<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<title>Erreur 404</title>
</head>

<body>

	<h1 class="text-center mt-12 text-5xl font-extrabold">Oups!</h1>
	<p class="text-center mb-24 text-xl">Cette page n'existe pas.</p>

	<img src="images/notfound.svg" class="w-1/3 mx-auto" />

</body>

</html>
<html>